
body{
    background-color: white;
    background-size: cover;
    font-family: "Arial Unicode MS";
    /*width: 100%;*/
    margin-left: 0px;
    letter-spacing: 3px;
}

.heading{ /* heading above navigation bar */
    float: left;
    display: block;
    padding: 15px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 58px;
    font-weight: 100;

    text-align: center;
    width: 100%;
    color: #444B54;
    letter-spacing: 6px;
}

.navbar{ /* navigation bar */
    display: block;
    text-align: center;
    vertical-align: center;
    /*top: 50px;*/
    /*height: 100px;*/
    /*width: 100%;*/
    margin-left: 80px;
    margin-right: 80px;
}

hr{
    border: 0.7px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9, .link10{ /* links in navigation bar */
    display: inline;
    /*position:absolute;*/
    /*width: 100%;*/
    margin: 40px;
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
    /*padding-top: 60px;*/
    /*width: 100%;*/
    height: 30px;
    font-size: 11px;
    text-align: center;


}
.clearfix{
    clear: both;
}
a{
    text-decoration: none;
    text-decoration-color: #000000;
}
a:hover{
    text-decoration: none;
    text-decoration-color: #000000;
}

/* second div */
.id2{
    background-color: rgba(255,255,255,0.9);
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

/* div for footer and addresses */
.footer {
    position: static;
    align-content: center;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 80px;
    text-align: center;
}